<%= title "Search results for '#{params[:q]}'" %>

<article class="results">
  <h1>Search results for <i><%= params[:q] %></i> :</h1>

  <% @books.each do |b| %>
    <article class="book">
      <% if b.coverLinkSmall.nil? %>
        <p class="no-img">no cover</p>
      <% else %>
        <%= image_tag b.coverLinkSmall %>
      <% end %>

      <header>
        <h1><%= b.title %></h1>
        <p class="authors">
          <% if b.authors.respond_to? :join %>
            <%= b.authors.join ', ' %>
          <% else %>
            <%= b.authors %>
          <% end %>
        </p>
      </header>

      <div class="opinion">
        <form class="like"><p><input type="submit" value="Good" name="opinion"></p></form>
        <form class="meh"><p><input type="submit" value="Meh" name="opinion"></p></form>
        <form class="dislike"><p><input type="submit" value="Poor" name="opinion"></p></form>
      </div>
      <form class="toread"><p><input type="submit" value="To read"></p></form>

    </article>
  <% end %>

</article>
