<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bookshelf | Recently read</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <h1>Bookshelf</h1>

    <nav>
      <ol class="no-style-type">
        <li><a href="">Ivana</a></li>
        <li><a href="">Logout</a></li>
      </ol>
    </nav>

    <form class="search">
      <p>
        <label for="search">Query:</label>
        <input type="search" id="search" name="search" placeholder="title, author, ISBN (anything goes)">
        <input type="submit" value="Search" id="search">
      </p>
    </form>
  </header>

  <article class="main">
    <h1>Recently read</h1>

    <article class="book">
      <%= image_tag "slut_thumb.jpg" %>
      <header>
        <hgroup>
          <h1>The 4-Hour Work Week</h1>
          <h2>Escape the 9-5, Live Anywhere and Join the New Rich</h2>
        </hgroup>
        <p class="authors">
          <span>Timothy Ferriss</span>
        </p>
      </header>
      <p class="meh">Meh</p>
      <p class="comment"><q>Incredible stories and very good advice, but the author's writing is a little too pushy for me.</q></p>
    </article>

    <article class="book">
      <p class="no-img">no cover</p>
      <header>
        <h1>South Of The Border, West Of The Sun</h1>
        <p class="authors">
          <span>Haruki Murakami</span>
        </p>
      </header>
      <p class="dislike">Poor</p>
    </article>

    <article class="book">
      <%= image_tag "slut_thumb.jpg" %>
      <header>
        <hgroup>
          <h1>Ethical Slut</h1>
          <h2>A Practical Guide to Polyamory, Open Relationships &amp; Other Adventures</h2>
        </hgroup>
        <p class="authors">
          <span>Dossie Easton</span>,
          <span>Janet W. Hardy</span>
        </p>
      </header>
      <p class="like">Good</p>
      <p class="comment"><q>This book has helped me more than countless hours of therapy and self inflicted misery. I wish I had read this sooner, it would have saved me a lot of time, money and sorrow.</q></p>
    </article>

    <article class="book">
      <p class="no-img">no cover</p>
      <header>
        <h1>South Of The Border, West Of The Sun</h1>
        <p class="authors">
          <span>Haruki Murakami</span>
        </p>
      </header>
      <p class="dislike">Poor</p>
      <p class="comment"><q>It's about this shallow and whiny man who wronged every women he put his hand on (probably because he is so deep, no one can understand him since he's the only child, yes, you gotta remember how painful it is for this Hajime guy to be the only child)... except his childhood sweetheart who is so deep that she never has a real personality but some random emo appeal which cannot make me care less. The author tried so hard but she turned out to be a sphinx without a secret. Meanwhile our hero remains an emo for the rest of the book, and maybe the rest of his life. He's got everything he wants but he cannot stop complaining and fancying about that girl whom he had a crush on, yet never actually knows. Did I mention she's the only child also?</q></p>
    </article>
  </article>

  <div class="related">
    <nav>
      <a href="">30 books read</a>
      <a href="">12 to read</a>
    </nav>

    <aside>
      <h1>Currently reading</h1>

      <article class="book">
        <%= image_tag "slut_thumb_small.jpg" %>
        <div class="brief">
          <h1>Getting Real</h1> <!-- no subheading when aside -->
          <p class="authors">
            <span>Jason Fried</span>,
            <span>Heinemeier David Hansson</span>,
            <span>Matthew Linderman</span>
          </p>
        </div>

        <div class="opinion">
          <form><p><input type="submit" value="Good" name="opinion"></p></form>
          <form><p><input type="submit" value="Meh" name="opinion"></p></form>
          <form><p><input type="submit" value="Poor" name="opinion"></p></form>
        </div>
        <form class="remove"><p><input type="submit" value="Given up" name="remove"></p></form>
      </article>

      <article class="book">
        <p class="no-img">no cover</p>
        <div class="brief">
          <h1>Getting Real</h1>
          <p class="authors">
            <span>Jason Fried</span>
          </p>
        </div>

        <div class="opinion">
          <form><p><input type="submit" value="Good" name="opinion"></p></form>
          <form><p><input type="submit" value="Meh" name="opinion"></p></form>
          <form><p><input type="submit" value="Poor" name="opinion"></p></form>
        </div>
        <form class="remove"><p><input type="submit" value="Given up" name="remove"></p></form>
      </article>
    </aside>

  </div>

<%# yield %>
</body>
</html>
